In [2]:
import pandas as pd
import numpy as np

In [8]:
cab = pd.read_csv("C:/Users/keogu/Desktop/빅데이터 자료분석/new data/배추.csv",parse_dates=['SALEDATE'])

In [9]:
cab

,PUM_NM,LV_NM,TOT_AMT,SAN_NM,SALEDATE,CMP_NM,DAN_NM,WHSAL_NM,SIZE_NM,COST,POJ_NM,TOT_QTY,QTY,KIND_NM,DANQ
0,배추,.,3850000.0,전라남도 해남군,2014-01-03,서울청과,kg,서울가락도매,.,5500.0,그물망,7000.0,700.0,월동배추,10.0
1,배추,.,660000.0,전라남도 해남군,2014-01-03,서울청과,kg,서울가락도매,.,3300.0,그물망,2000.0,200.0,월동배추,10.0
2,배추,.,1750000.0,전라남도 해남군,2014-01-03,서울청과,kg,서울가락도매,.,5000.0,그물망,3500.0,350.0,월동배추,10.0
3,배추,.,1750000.0,전라남도 해남군,2014-01-03,서울청과,kg,서울가락도매,.,5000.0,그물망,3500.0,350.0,월동배추,10.0
4,배추,.,300000.0,전라남도 해남군,2014-01-03,서울청과,kg,서울가락도매,.,3000.0,그물망,1000.0,100.0,월동배추,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392568,배추,.,284700.0,NaN,2021-10-30,강서청과,kg,서울강서도매,2개,3900.0,접,876.0,73.0,기타배추,12.0
2392569,배추,.,1810400.0,NaN,2021-10-30,강서청과,kg,서울강서도매,.,6200.0,접,3504.0,292.0,기타배추,12.0
2392570,배추,.,270100.0,NaN,2021-10-30,강서청과,kg,서울강서도매,2개,3700.0,접,876.0,73.0,기타배추,12.0
2392571,배추,.,720000.0,NaN,2021-10-30,강서청과,kg,서울강서도매,.,3000.0,접,2880.0,240.0,기타배추,12.0
2392572,배추,.,108000.0,NaN,2021-10-30,강서청과,kg,서울강서도매,2개,1800.0,접,720.0,60.0,기타배추,12.0

In [6]:
cab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392573 entries, 0 to 2392572
Data columns (total 15 columns):
 #   Column    Dtype
---  ------    -----
 0   PUM_NM    object
 1   LV_NM     object
 2   TOT_AMT   float64
 3   SAN_NM    object
 4   SALEDATE  int64
 5   CMP_NM    object
 6   DAN_NM    object
 7   WHSAL_NM  object
 8   SIZE_NM   object
 9   COST      float64
 10  POJ_NM    object
 11  TOT_QTY   float64
 12  QTY       float64
 13  KIND_NM   object
 14  DANQ      float64
dtypes: float64(5), int64(1), object(9)
memory usage: 273.8+ MB

## 필요없는 컬럼 삭제

In [10]:
cab.drop(columns=['CMP_NM','WHSAL_NM','POJ_NM','KIND_NM','PUM_NM','LV_NM'], axis=1, inplace=True)

In [11]:
cab

,TOT_AMT,SAN_NM,SALEDATE,DAN_NM,SIZE_NM,COST,TOT_QTY,QTY,DANQ
0,3850000.0,전라남도 해남군,2014-01-03,kg,.,5500.0,7000.0,700.0,10.0
1,660000.0,전라남도 해남군,2014-01-03,kg,.,3300.0,2000.0,200.0,10.0
2,1750000.0,전라남도 해남군,2014-01-03,kg,.,5000.0,3500.0,350.0,10.0
3,1750000.0,전라남도 해남군,2014-01-03,kg,.,5000.0,3500.0,350.0,10.0
4,300000.0,전라남도 해남군,2014-01-03,kg,.,3000.0,1000.0,100.0,10.0
...,...,...,...,...,...,...,...,...,...
2392568,284700.0,NaN,2021-10-30,kg,2개,3900.0,876.0,73.0,12.0
2392569,1810400.0,NaN,2021-10-30,kg,.,6200.0,3504.0,292.0,12.0
2392570,270100.0,NaN,2021-10-30,kg,2개,3700.0,876.0,73.0,12.0
2392571,720000.0,NaN,2021-10-30,kg,.,3000.0,2880.0,240.0,12.0
2392572,108000.0,NaN,2021-10-30,kg,2개,1800.0,720.0,60.0,12.0

## 산지 null값 제거

In [14]:
cab = cab[cab['SAN_NM'].notnull()]

In [15]:
cab

,TOT_AMT,SAN_NM,SALEDATE,DAN_NM,SIZE_NM,COST,TOT_QTY,QTY,DANQ
0,3850000.0,전라남도 해남군,2014-01-03,kg,.,5500.0,7000.0,700.0,10.0
1,660000.0,전라남도 해남군,2014-01-03,kg,.,3300.0,2000.0,200.0,10.0
2,1750000.0,전라남도 해남군,2014-01-03,kg,.,5000.0,3500.0,350.0,10.0
3,1750000.0,전라남도 해남군,2014-01-03,kg,.,5000.0,3500.0,350.0,10.0
4,300000.0,전라남도 해남군,2014-01-03,kg,.,3000.0,1000.0,100.0,10.0
...,...,...,...,...,...,...,...,...,...
2392554,550000.0,강원도 강릉시,2021-10-30,kg,12개,11000.0,400.0,50.0,8.0
2392555,275000.0,강원도 강릉시,2021-10-30,kg,12개,11000.0,200.0,25.0,8.0
2392556,110000.0,강원도 강릉시,2021-10-30,kg,12개,11000.0,80.0,10.0,8.0
2392557,220000.0,강원도 강릉시,2021-10-30,kg,12개,11000.0,160.0,20.0,8.0
2392558,55000.0,강원도 강릉시,2021-10-30,kg,12개,11000.0,40.0,5.0,8.0

In [16]:
cab['DAN_NM'].unique()

array(['kg', 'g', '.', 'ton(M/T)', nan], dtype=object)