In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

warnings.filterwarnings('ignore')
plt.rcParams["figure.figsize"] = (16,8)
plt.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='Malgun Gothic')

In [33]:
weather =  pd.read_csv("C:/Users/keogu/Desktop/빅데이터 자료분석/new data/OBS_AAOS_DD_20211103154435.csv",encoding="cp949",parse_dates=['일시'])

In [34]:
weather

,지점,지점명,일시,0.5M 평균 습도(%),1.5M 평균 습도(%),4.0M 평균 습도(%),10CM 일 토양수분(%),20CM 일 토양수분(%),30CM 일 토양수분(%),50CM 일 토양수분(%),...,0.5M 일 지중온도(°C),1.0M 일 지중온도(°C),1.5M 일 지중온도(°C),3.0M 일 지중온도(°C),5.0M 일 지중온도(°C),일 순복사(MJ/m2),일 전천복사(MJ/m2),일 반사복사(MJ/m2),일 평균 조도(10lux),일 지하수위(cm)
0,119,수원,2014-01-01,66.0,64.0,63.0,8.0,14.0,17.0,19.0,...,2.9,6.8,10.2,15.7,18.1,8.92,11.56,2.64,811.9,3048.0
1,119,수원,2014-01-02,48.0,44.0,44.0,9.0,15.0,18.0,19.0,...,2.9,6.7,10.1,15.6,18.0,13.11,16.42,3.31,1308.2,3046.0
2,119,수원,2014-01-03,60.0,57.0,57.0,8.0,14.0,18.0,19.0,...,2.9,6.6,10.0,15.5,18.0,7.66,9.80,2.14,837.5,3042.0
3,119,수원,2014-01-04,55.0,53.0,53.0,9.0,15.0,18.0,19.0,...,3.0,6.5,9.9,15.4,17.9,12.46,15.36,2.90,1118.1,3045.0
4,119,수원,2014-01-05,59.0,56.0,56.0,7.0,14.0,18.0,19.0,...,2.9,6.4,9.8,15.3,17.9,11.10,13.72,2.62,1034.3,3024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29717,981,보성군(농),2021-05-31,66.0,62.0,63.0,21.0,25.0,29.0,28.0,...,19.3,17.7,NaN,NaN,NaN,16.58,23.49,6.91,1637.1,NaN
29718,981,보성군(농),2021-06-01,66.0,62.0,64.0,20.0,24.0,29.0,28.0,...,19.7,17.8,NaN,NaN,NaN,15.48,22.09,6.61,1550.8,NaN
29719,981,보성군(농),2021-06-02,77.0,72.0,73.0,19.0,24.0,28.0,27.0,...,20.0,18.0,NaN,NaN,NaN,13.12,18.58,5.46,1550.5,NaN
29720,981,보성군(농),2021-06-03,99.0,93.0,95.0,29.0,32.0,34.0,27.0,...,20.3,18.2,NaN,NaN,NaN,2.42,2.73,0.31,330.8,NaN
29721,981,보성군(농),2021-06-04,NaN,NaN,NaN,27.0,31.0,34.0,32.0,...,20.2,18.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29722 entries, 0 to 29721
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   지점                29722 non-null  int64
 1   지점명               29722 non-null  object
 2   일시                29722 non-null  datetime64[ns]
 3   0.5M 평균 습도(%)     23790 non-null  float64
 4   1.5M 평균 습도(%)     28976 non-null  float64
 5   4.0M 평균 습도(%)     23640 non-null  float64
 6   10CM 일 토양수분(%)    28873 non-null  float64
 7   20CM 일 토양수분(%)    28936 non-null  float64
 8   30CM 일 토양수분(%)    28936 non-null  float64
 9   50CM 일 토양수분(%)    28934 non-null  float64
 10  대형증발량(mm)         3825 non-null   float64
 11  소형증발량(mm)         6670 non-null   float64
 12  0.5M 평균 기온(°C)    23344 non-null  float64
 13  1.5M 평균 기온(°C)    28955 non-null  float64
 14  4.0M 평균 기온(°C)    23395 non-null  float64
 15  1.5M 평균 풍속(m/s)   22412 non-null  float64
 16  4.0M 평균 풍속(m/s)   22412 non-null  float64
 17  평균 지면온도(°C)       28595 non-null  float64
 18  최저 초상온도(°C)       20808 non-null  float64
 19  5CM 평균 지중온도(°C)   28815 non-null  float64
 20  30CM 평균 지중온도(°C)  28775 non-null  float64
 21  0.5M 일 지중온도(°C)   29101 non-null  float64
 22  1.0M 일 지중온도(°C)   28998 non-null  float64
 23  1.5M 일 지중온도(°C)   2232 non-null   float64
 24  3.0M 일 지중온도(°C)   2231 non-null   float64
 25  5.0M 일 지중온도(°C)   2230 non-null   float64
 26  일 순복사(MJ/m2)      22889 non-null  float64
 27  일 전천복사(MJ/m2)     23104 non-null  float64
 28  일 반사복사(MJ/m2)     22897 non-null  float64
 29  일 평균 조도(10lux)    14908 non-null  float64
 30  일 지하수위(cm)        1874 non-null   float64
dtypes: datetime64[ns](1), float64(28), int64(1), object(1)
memory usage: 7.0+ MB

In [36]:
weather['지점명'].unique()

array(['수원', '서산', '보성군', '익산', '철원장흥', '안동옥동', '화순능주', '대곡', '오창가곡',
       '춘천신북', '강정', '보성군(농)'], dtype=object)

In [37]:
weather['지점명'].value_counts()

춘천신북      2852
수원        2848
대곡        2843
익산        2843
화순능주      2841
오창가곡      2840
안동옥동      2824
철원장흥      2820
강정        2808
보성군(농)    2697
서산        1411
보성군         95
Name: 지점명, dtype: int64

- 강원도: 춘천신북, 철원장흠 
- 경기도: 수원
- 경상남도: 대곡, 안동옥동
- 전라북도: 익산  
- 전라남도: 화순능주, 보성군(농), 보성군
- 충청남도: 서산
- 충청북도: 오성가곡
- 제주도: 강정

In [38]:
weather.set_index(['일시'], inplace=True)

In [39]:
weather

,지점,지점명,0.5M 평균 습도(%),1.5M 평균 습도(%),4.0M 평균 습도(%),10CM 일 토양수분(%),20CM 일 토양수분(%),30CM 일 토양수분(%),50CM 일 토양수분(%),대형증발량(mm),...,0.5M 일 지중온도(°C),1.0M 일 지중온도(°C),1.5M 일 지중온도(°C),3.0M 일 지중온도(°C),5.0M 일 지중온도(°C),일 순복사(MJ/m2),일 전천복사(MJ/m2),일 반사복사(MJ/m2),일 평균 조도(10lux),일 지하수위(cm)
일시,,,,,,,,,,,,,,,,,,,,,
2014-01-01,119,수원,66.0,64.0,63.0,8.0,14.0,17.0,19.0,NaN,...,2.9,6.8,10.2,15.7,18.1,8.92,11.56,2.64,811.9,3048.0
2014-01-02,119,수원,48.0,44.0,44.0,9.0,15.0,18.0,19.0,NaN,...,2.9,6.7,10.1,15.6,18.0,13.11,16.42,3.31,1308.2,3046.0
2014-01-03,119,수원,60.0,57.0,57.0,8.0,14.0,18.0,19.0,NaN,...,2.9,6.6,10.0,15.5,18.0,7.66,9.80,2.14,837.5,3042.0
2014-01-04,119,수원,55.0,53.0,53.0,9.0,15.0,18.0,19.0,NaN,...,3.0,6.5,9.9,15.4,17.9,12.46,15.36,2.90,1118.1,3045.0
2014-01-05,119,수원,59.0,56.0,56.0,7.0,14.0,18.0,19.0,NaN,...,2.9,6.4,9.8,15.3,17.9,11.10,13.72,2.62,1034.3,3024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31,981,보성군(농),66.0,62.0,63.0,21.0,25.0,29.0,28.0,NaN,...,19.3,17.7,NaN,NaN,NaN,16.58,23.49,6.91,1637.1,NaN
2021-06-01,981,보성군(농),66.0,62.0,64.0,20.0,24.0,29.0,28.0,NaN,...,19.7,17.8,NaN,NaN,NaN,15.48,22.09,6.61,1550.8,NaN
2021-06-02,981,보성군(농),77.0,72.0,73.0,19.0,24.0,28.0,27.0,NaN,...,20.0,18.0,NaN,NaN,NaN,13.12,18.58,5.46,1550.5,NaN
2021-06-03,981,보성군(농),99.0,93.0,95.0,29.0,32.0,34.0,27.0,NaN,...,20.3,18.2,NaN,NaN,NaN,2.42,2.73,0.31,330.8,NaN
2021-06-04,981,보성군(농),NaN,NaN,NaN,27.0,31.0,34.0,32.0,NaN,...,20.2,18.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
weather.iloc[:,2:]

,0.5M 평균 습도(%),1.5M 평균 습도(%),4.0M 평균 습도(%),10CM 일 토양수분(%),20CM 일 토양수분(%),30CM 일 토양수분(%),50CM 일 토양수분(%),대형증발량(mm),소형증발량(mm),0.5M 평균 기온(°C),...,0.5M 일 지중온도(°C),1.0M 일 지중온도(°C),1.5M 일 지중온도(°C),3.0M 일 지중온도(°C),5.0M 일 지중온도(°C),일 순복사(MJ/m2),일 전천복사(MJ/m2),일 반사복사(MJ/m2),일 평균 조도(10lux),일 지하수위(cm)
일시,,,,,,,,,,,,,,,,,,,,,
2014-01-01,66.0,64.0,63.0,8.0,14.0,17.0,19.0,NaN,1.9,3.1,...,2.9,6.8,10.2,15.7,18.1,8.92,11.56,2.64,811.9,3048.0
2014-01-02,48.0,44.0,44.0,9.0,15.0,18.0,19.0,NaN,1.5,1.4,...,2.9,6.7,10.1,15.6,18.0,13.11,16.42,3.31,1308.2,3046.0
2014-01-03,60.0,57.0,57.0,8.0,14.0,18.0,19.0,NaN,1.2,2.4,...,2.9,6.6,10.0,15.5,18.0,7.66,9.80,2.14,837.5,3042.0
2014-01-04,55.0,53.0,53.0,9.0,15.0,18.0,19.0,NaN,1.9,-0.1,...,3.0,6.5,9.9,15.4,17.9,12.46,15.36,2.90,1118.1,3045.0
2014-01-05,59.0,56.0,56.0,7.0,14.0,18.0,19.0,NaN,1.3,-1.0,...,2.9,6.4,9.8,15.3,17.9,11.10,13.72,2.62,1034.3,3024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31,66.0,62.0,63.0,21.0,25.0,29.0,28.0,NaN,NaN,21.1,...,19.3,17.7,NaN,NaN,NaN,16.58,23.49,6.91,1637.1,NaN
2021-06-01,66.0,62.0,64.0,20.0,24.0,29.0,28.0,NaN,NaN,21.2,...,19.7,17.8,NaN,NaN,NaN,15.48,22.09,6.61,1550.8,NaN
2021-06-02,77.0,72.0,73.0,19.0,24.0,28.0,27.0,NaN,NaN,21.8,...,20.0,18.0,NaN,NaN,NaN,13.12,18.58,5.46,1550.5,NaN
2021-06-03,99.0,93.0,95.0,29.0,32.0,34.0,27.0,NaN,NaN,19.9,...,20.3,18.2,NaN,NaN,NaN,2.42,2.73,0.31,330.8,NaN
2021-06-04,NaN,NaN,NaN,27.0,31.0,34.0,32.0,NaN,NaN,NaN,...,20.2,18.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
weather_weak= weather.iloc[:,2:].resample(rule='W').mean().reset_index()

In [55]:
weather_weak

,일시,0.5M 평균 습도(%),1.5M 평균 습도(%),4.0M 평균 습도(%),10CM 일 토양수분(%),20CM 일 토양수분(%),30CM 일 토양수분(%),50CM 일 토양수분(%),대형증발량(mm),소형증발량(mm),...,0.5M 일 지중온도(°C),1.0M 일 지중온도(°C),1.5M 일 지중온도(°C),3.0M 일 지중온도(°C),5.0M 일 지중온도(°C),일 순복사(MJ/m2),일 전천복사(MJ/m2),일 반사복사(MJ/m2),일 평균 조도(10lux),일 지하수위(cm)
0,2014-01-05,65.222222,64.133333,60.711111,8.822222,14.533333,15.377778,16.311111,NaN,1.546667,...,3.717778,6.940000,10.000000,15.500000,17.980000,7.253600,11.056000,3.802400,400.042000,3041.000000
1,2014-01-12,62.952381,62.206349,59.333333,9.349206,13.365079,14.714286,16.047619,NaN,1.285246,...,3.395238,6.506349,9.400000,14.985714,17.685714,6.822429,10.220714,3.398286,366.152857,3027.857143
2,2014-01-19,60.619048,59.968254,57.015873,6.873016,10.444444,12.809524,15.380952,NaN,1.422222,...,2.561905,5.865079,8.757143,14.371429,17.271429,8.266857,12.306857,4.040000,452.201429,3024.000000
3,2014-01-26,70.796610,70.169492,67.779661,8.803279,10.688525,12.786885,14.983607,NaN,1.101613,...,2.480328,5.368852,8.200000,13.842857,16.971429,7.077164,10.537761,3.460597,399.225758,3035.285714
4,2014-02-02,71.633333,70.850000,69.000000,12.327869,13.065574,14.377049,15.524590,NaN,1.384127,...,2.995082,5.201639,7.728571,13.328571,16.628571,7.252029,10.310580,3.058551,400.476471,3035.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2021-10-03,85.000000,84.272727,82.857143,20.155844,23.376623,24.116883,26.701299,NaN,NaN,...,23.124286,22.345714,21.871429,19.800000,15.900000,13.810690,45.772571,2.631724,0.000000,NaN
405,2021-10-10,88.514286,86.454545,87.085714,19.116883,22.909091,23.896104,27.974026,NaN,NaN,...,23.144286,22.191429,21.657143,19.857143,16.114286,10.105143,39.007561,1.781429,0.000000,NaN
406,2021-10-17,77.371429,76.454545,74.714286,20.948052,23.233766,23.233766,26.623377,NaN,NaN,...,21.778571,21.708571,21.371429,19.814286,16.271429,10.761333,39.834444,2.101333,0.000000,NaN
407,2021-10-24,77.428571,74.155844,74.085714,19.558442,22.896104,22.974026,25.688312,NaN,NaN,...,17.615714,19.790000,20.414286,19.785714,16.428571,13.470667,43.804444,3.555333,0.000000,3376.500000
408,2021-10-31,78.971429,76.259740,76.057143,16.935065,20.753247,21.584416,25.077922,NaN,NaN,...,16.284286,18.028571,18.971429,19.614286,16.571429,11.232083,40.655517,2.953750,0.000000,3064.000000

In [10]:
weather= weather.groupby(['지점명','일시']).mean().reset_index()

In [11]:
weather

,지점명,일시,지점,0.5M 평균 습도(%),1.5M 평균 습도(%),4.0M 평균 습도(%),10CM 일 토양수분(%),20CM 일 토양수분(%),30CM 일 토양수분(%),50CM 일 토양수분(%),...,0.5M 일 지중온도(°C),1.0M 일 지중온도(°C),1.5M 일 지중온도(°C),3.0M 일 지중온도(°C),5.0M 일 지중온도(°C),일 순복사(MJ/m2),일 전천복사(MJ/m2),일 반사복사(MJ/m2),일 평균 조도(10lux),일 지하수위(cm)
0,강정,2014-01-01,980,46.0,46.0,44.0,1.0,0.0,3.0,5.0,...,9.6,13.3,NaN,NaN,NaN,8.32,11.24,2.92,0.0,NaN
1,강정,2014-01-02,980,64.0,65.0,62.0,1.0,0.0,3.0,5.0,...,9.6,13.1,NaN,NaN,NaN,8.02,10.81,2.79,0.0,NaN
2,강정,2014-01-03,980,72.0,70.0,67.0,1.0,0.0,3.0,5.0,...,9.7,13.0,NaN,NaN,NaN,5.90,7.67,1.77,0.0,NaN
3,강정,2014-01-04,980,68.0,68.0,65.0,1.0,1.0,3.0,5.0,...,9.8,12.9,NaN,NaN,NaN,8.67,11.66,2.99,0.0,NaN
4,강정,2014-01-05,980,64.0,64.0,61.0,1.0,0.0,3.0,5.0,...,10.0,12.9,NaN,NaN,NaN,9.12,12.33,3.21,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29717,화순능주,2021-10-27,973,NaN,82.0,NaN,19.0,26.0,21.0,38.0,...,17.1,19.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29718,화순능주,2021-10-28,973,NaN,81.0,NaN,19.0,25.0,23.0,38.0,...,17.0,19.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29719,화순능주,2021-10-29,973,NaN,77.0,NaN,18.0,24.0,22.0,38.0,...,16.8,18.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29720,화순능주,2021-10-30,973,NaN,89.0,NaN,17.0,23.0,21.0,38.0,...,16.8,18.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29721,화순능주,2021-10-31,973,NaN,82.0,NaN,18.0,23.0,21.0,38.0,...,16.6,18.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cab_week= cab.resample(rule='W').sum().reset_index()